*{
    list-style: none;
    padding: 0;
    margin: 0;
}



/* Header */

header{
    display: flex;
    gap: 60%;
    /* image */
    background-image:url('../images/banner/banner2.png' ) ;
    background-repeat: no-repeat;
    background-size: cover;
    /*  position */
    text-align:right;
}


  /* Bonus number Question solution:  */
.bonus{
      text-align: left;
}
/* Button Design */
.btn{
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    
    background: #F15B22;
    font-weight: 600;
    font-size: 20px; 
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-bottom:165px ;
}

/* Main Section */

/* My failure of previous year */

main{
   padding: 130px 230px;

}


.failure{
    gap: 87px;
display: flex;
}



.failure-topic{
    padding-top: 150px;


}
.list{
    padding-top: 17px;
    display:flex;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;


}


/* My Plans */

.plans{
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;

}
.planbox{
    
    list-style: none;
    display: inline;
    display: flex;
    justify-content: space-around;
    

}

.plan-list{
    
   padding: 30px 30px;

   

}
.plan-list:hover{
    background-color:rgb(230, 221, 221);
    
   
 
    
 
 }

 /* Special Box */
 .box{
    padding:130px 23px ;
    background-image: url('../images/watch.png'),url('../images/gradient2.png');
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    background-position: center;
 }

 .btn2{
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #F15B22;
padding: 20px 36px;
margin-left: 64px;


 }

 /* Footer */
 .foot{
    display: flex;
    padding-top: 130px;
    padding-left: 230px;
    background: #151414;
    gap:331px;
   

 }




 .foot-ul{
   
    display: flex;
    list-style: none;
    gap: 17px;
    padding-bottom: 130px;
 }

 .Subscribe{
    margin-right: 230px;
    justify-content: left;
    
    
 }
 .btn3{

    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #F15B22;
padding: 20px 36px;

 }

 .emailbox{
    width: 325px;
height: 64px;
background: #151414;
border: 1px solid #FFFFFF;
border-radius: 8px;


 }
 ::placeholder{
    color: #F3F3F3;
    padding-left: 21px;
 }
 
 /* Extra >>practising dropdown */
 
.dropdown{
    display: none;
}

section div:hover .dropdown{
    display: block;

}
.New{
    text-align: center;
}

.btn1{
    
    background: #f25b5b;
    border-radius: 5px;
    border: none;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #fafafa;
padding: 20px 250px;
margin-bottom: 10px;


}
.wish{
    padding-top: 24px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 26px;
color: #444343;
}

.wish:hover{
    background-color: rgb(200, 245, 200);
}
.btn:hover{
    background-color: #F3F3F3;
    color:#f25b5b;

}
.btn2:hover{
    background-color: #F15B22;
    color: #F3F3F3;
}
.btn3:hover{
    background-color: #F15B22;
    color: #F3F3F3;
}
